.container {
  display: flex;
  justify-content: center;
  align-items: center;

  //position: relative;

  width: 100%;
  margin: 0 auto;
}

/* .corner {
	width: 2em;
	height: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.corner a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.github {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.corner img {
	width: 2em;
	object-fit: contain;
}

.githubImg {
	width: 2em;
	object-fit: contain;
} */

.corner {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1;

  background: #0000007c;

  //margin: 30px;

  height: 48px;

  border-radius: 10px;

  margin-top: 16px;

  //backdrop-filter: blur(10px);
  //-webkit-backdrop-filter: blur(10px);
  //-moz-backdrop-filter: blur(10px);
  //-o-backdrop-filter: blur(10px);
  //-ms-backdrop-filter: blur(10px);

  transition: all 0.25s;
  //transition: backdrop-filter 1s;
}

.corner_left {
  left: 0;
  margin-left: 16px;

  padding-left: 2px;
  padding-right: 2px;

  min-width: 106px;
  max-width: 106px;
}

.corner_left_hover {
  margin-left: 13px;

  min-width: 114px;
  max-width: 114px;
}

.corner_right {
  right: 0;
  margin-right: 16px;

  padding-left: 4px;
  padding-right: 4px;

  min-width: 96px;
  max-width: 96px;
}

.corner_right_hover {
  margin-right: 13px;

  min-width: 104px;
  max-width: 104px;
}

.cornerSocialLink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: all 0.25s;

  //padding: 10px;

  margin: 0 8px;
}

.cornerSocialLink:hover {
  transform: scale(1.1);
  //border-radius: 10px;
}

.cornerImg {
  /* width: 2em; */
  object-fit: contain;
}

.navBar {
  //flex-grow: 1;
  //display: flex;
  //justify-content: center;
  //align-items: center;

  background: #0000007c;

  height: 48px;

  // padding: 0px 0px;

  //margin: 16px auto 0;

  margin-top: 16px;

  border-radius: 10px;

  //backdrop-filter: blur(10px);
  //-webkit-backdrop-filter: blur(10px);
  //-moz-backdrop-filter: blur(10px);
  //-o-backdrop-filter: blur(10px);
  //-ms-backdrop-filter: blur(10px);

  overflow: hidden;
}

.navBar ul {
  position: relative;
  padding: 0;
  margin: 0;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  /* background: var(--background); */
  /* background-size: contain; */
  /* border-radius: 1em; */
}

.navBar li {
  position: relative;
  height: 100%;
  margin: 0 0;
}

/* .navBar li.active::before {
	--size: .375rem;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: calc(50% - var(--size));
	border: var(--size) solid transparent;
	border-top: var(--size) solid var(--accent-color);
} */

.navBar button {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1em;
  //color: var(--heading-color);
  //font-weight: 700;
  font-size: 16px;
  font-family: "quicksand", sans-serif !important;
  font-weight: 900 !important;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1em; */
  text-decoration: none;
  transition: all 0.25s;
  color: #eaeaea;
  background: transparent;
  border: none;
  /* font-family: "quicksand", sans-serif !important; */
}

.navBar button:hover {
  /* color: #eaeaea; */
  /* text-shadow: 0 0 0.25em #6297e7; */
  box-shadow: inset 0 -0.1875rem 0 #6297e7;
  font-size: 18px;
  /* color: #eaeaea; */
}

.navBar button:active {
  font-size: 16px;
}

.corner_container {
  display: flex;
  // justify-content: center;
  align-items: center;
  // space between
  justify-content: space-evenly;

  width: 100%;
}

.webring_anchor {
  color: #b7b7b7;
  text-decoration: none;
  transform: scale(1.2);
  // margin-top: 24px;
  transition: all 0.25s;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 48px;
}

.webring_logo {
  // background-image: url(https://assets.hackclub.com/icon-rounded.svg);
  // background-repeat: no-repeat;
  // background-position: top left;
  // background-size: contain;
  // -webkit-flex-shrink: 0;
  // -ms-flex-negative: 0;
  // flex-shrink: 0;
  // display: inline-block;
  // width: 30px;
  // height: 48px;
  // margin: 0 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  // vertical-align: middle;
  transition: all 0.25s;
}

.webring_anchor:hover {
  color: #eaeaea;
  transform: scale(1.6);
}

.webring_anchor:active {
  color: #eaeaea;
  transform: scale(1.5);
}

.webring_logo:hover {
  transform: scale(1.1);
}

/* .navBar a.active {
	color: var(--accent-color);
	box-shadow: inset 0 -0.1875rem 0 var(--accent-color);
} */

/* Change a color if li is active */
.navBar li.active button {
  /* color: var(--accent-color); */
  /* text-shadow: 0 0 0.25em var(--accent-color); */
  box-shadow: inset 0 -0.1875rem 0 #6297e7;
  /* color: #eaeaea; */
}

@media (max-width: 477px) {
  .cornerImg {
    display: none;
  }
}


// PORTED


//.container {
//	position: relative;
//	display: flex;
//	/* flex-direction: row; */
//	flex-wrap: wrap;
//	justify-content: space-between;
//	align-items: center;
//	width: 100%;
//	height: 100%;
//	margin: 10rem 0 0 0;
//	gap: 1rem;
//	/* Border gradient top-bottom veritcal */
//}

/* .left {
	background-color: var(--light-blue-2);

	position: relative;
	border-radius: 15px;
	margin-right: 5rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;

	width: 350px;
	min-width: 350px;
	max-width: 350px;
	height: 650px;

	background: linear-gradient(to bottom, #baecc5 0%, #d3a7a7 100%),
		linear-gradient(to bottom, #589b67 0%, #8b1f1f 100%);
	z-index: 0;
	border: double 5px transparent;
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.left:before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to bottom, #589b67 0%, #8b1f1f 100%);
	transform: translate3d(0px, 0px, 0) scale(0.95);
	filter: blur(65px);
	opacity: var(0.35);
	transition: opacity 0.3s;
	border-radius: inherit;
} */

/* .box:before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(-146deg, #ff3d00 0%, #0400ff 100%);
	transform: translate3d(0px, 0px, 0) scale(0.95);
	filter: blur(65px);
	opacity: var(0.35);
	transition: opacity 0.3s;
	border-radius: inherit;
} */

/*
* Prevents issues when the parent creates a
* stacking context. (For example, using the transform
* property )
*/
/* .left::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: inherit;
	border-radius: 10px;
} */

/*
.left::after {
	position: absolute;
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;
	background: linear-gradient(to bottom, #589b67 0%, #8b1f1f 100%);
	content: "";
	z-index: -1;
	border-radius: 20px;
} */

.right {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* margin: 1rem; */
  /* padding: 1rem; */
  background-color: var(--light-blue-2);
  position: relative;
  border-radius: 1rem;
  width: 65%;
  /* height: 90%;
  height: 82vh; */
}

.banner {
  width: 100% !important;
  //height: 100% !important;
  //height: 30% !important;

  position: relative !important;

  border-radius: 10px 10px 0 0;
  z-index: 2;
}

.bannerImg {
  //width: 100%;
  //height: 100%;

  border-radius: 10px 10px 0 0;
  z-index: 2;

  object-fit: cover;

  mask-image: url("/border.svg");

  // Minus position by size changed divided by 2
  //Example: 4000px -> 3980px = 20px / 2 = 10px
  //Then minus 10px from the position

  mask-position: -1842px -1784px;
  //mask-position: -1990px -1929px;
  //mask-position: -1986px -1922px;
  mask-size: 3800px 3800px;
  //mask-size: 4100px 4100px;

  mask-repeat: no-repeat;
}

/* .bannerImg {
	object-fit: cover;

	mask-image: url("/border.svg");
	mask-position: -736px -630px;
	mask-size: 1530px 1530px;

	mask-repeat: no-repeat;
} */

.pfp {
  /* border-radius: 100%; */
  /* margin: 1rem 0 0 1rem; */
  /* width: 155px;
  height: 155px; */
  /* position: relative; */
  /* z-index: 2; */
  /* background: white;
  opacity: 0.5; */
  /* margin-top: -117px; */

  // DWDWDWDWDWDW
  //margin-top: 13%;
  position: absolute;
  // DWDWDWDWDWDW

  //margin-top: -52px;
  margin-top: 68px;
  margin-left: 13px;

  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 2;

  /* width: 30%; */
  /* width: auto; */
}

/* width: 155px;
	height: 150px; */
/* margin-top: -85px; */
/* margin-left: 2rem; */
/* margin: 7.25rem 2rem; */
/* position: relative; */
/* z-index: 2; */

/* .pfpImgBorder {
	width: 140px;
	height: 140px;

	object-fit: cover;
	margin-left: 1rem;
	z-index: 2;
} */

.pfpImgDecoBorder {
  /* width: 150px; */
  /* width: 110%;
  height: 110%; */
  /* width: auto; */
  /* height: 100%; */
  /* width: auto; */
  width: 140px;
  height: 140px;
  /* max-width: 50%; */
  /* width: 100%; */
  /* width: auto; */
  object-fit: cover;
  margin-left: 1rem;
  /* position: absolute; */
  /* border-radius: 100%; */
  /* margin-left: -7%;
  margin-top: -12%; */
}

/* .pfpImg { */
/* width: 85%; */
/* height: 85%; */
/* width: 10%; */

/* width: 97px;
	object-fit: cover;
	border-radius: 100%;
	margin-left: 1rem;
	margin-top: 2rem;
	border: 6px solid #ffffff; */

/* position: absolute; */
/* } */

.pfpImg {
  width: 92px;
  //width: 97px;
  object-fit: cover;
  border-radius: 100%;
  //margin-left: 1rem;
  //margin-top: 2rem;
  border: 6px solid transparent;
}

.pfpImgMask {
  /* width: 102%; */
  /* height: 102%; */
  width: 117px;
  height: 117px;
  object-fit: cover;
  position: absolute;
  /* border-radius: 100%; */
  margin-left: 0.5rem;
  margin-top: 1.9rem;
}

/* .badges {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4px;

	margin: 1rem auto;
	margin-right: 5%;
	border-radius: 9px;
	background: #ffffff99;

	width: 120px;
	height: 48px;

	z-index: 2;
} */

.badge {
  /* width: 30px;
  height: 30px; */
  object-fit: cover;
  border-radius: 100%;
  /* margin-left: 1rem; */
  /* margin-right: 1rem; */
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* background: rgb(255, 22, 22); */
  /* opacity: 0.5; */
  width: 100%;
  //height: 100%;
  height: auto;
}

/* .body {
	border-radius: 9px;
	background: #ffffff99;
	width: 90%;
	margin: 0 auto 1.5rem auto;
	flex-grow: 1;
	align-self: center;
} */

/* .username {
	color: #1b1b1b;
	font-weight: 600;
	font-size: 22px;
	margin: 0.7rem 0.7rem;
	font-family: "Source Sans Pro", sans-serif !important;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
} */

/* .discriminator {
	color: #4c4e5f;
	font-weight: 600;
	font-size: 22px;
	font-family: "Work Sans", sans-serif !important;
} */

/* .copyButton {
	opacity: 0;
	margin-left: 0.2rem;
	transition: all 0.2s ease-in-out;
	color: #4c4e5f;
	width: 1.25rem;
} */

/* .copyButton:hover {
	scale: 1.2;
}

.copyButton:active {
	scale: 1;
} */

.copyButtonClicked {
  scale: 1 !important;
}

/* .username:hover .copyButton {
	opacity: 1;
} */

/* .seperator {
	width: 94%;
	height: 1.2px;
	background: #c3d2babc;
	margin: 0.7rem auto;
} */

.bodyText {
  margin: 3px 2px;
}

.customStatus {
  overflow-wrap: break-word;
  box-sizing: border-box;
  //margin-top: 12px;

  margin-left: 12px;
  margin-right: 11.2px;

  //display: flex;
  //flex-direction: row;
  //justify-content: left;
  //align-items: center;
}

/* .bodyTextTitle {
	color: #000000;
	font-weight: 500;
	font-size: 14px;
	margin: 16px 11.2px 0;
	font-family: "Secular One", sans-serif !important;
} */

.date {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;

  margin: 4.8px 11.2px;
}

/* .bulletPoint {
	color: #4c4e5f;
} */

.activityBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

  margin-left: 11.2px;
  margin-top: 6px;
}

.activityAsset {
  position: relative;

  overflow: visible;
}

.activityLargeImage {
  width: 60px;
  height: 60px;

  border-radius: 10px;

  display: block;
  position: relative;
  z-index: 1;
}

.activitySmallImageWrapper {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -4px; /* Adjust this value to control how much the small image sticks out */
  right: -4px; /* Adjust this value to control how much the small image sticks out */
  border-radius: 100%;
  overflow: hidden;
  z-index: 2;
}

.activitySmallImage {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100%;

  //border-radius: 100%;
  //bottom: 0;
  //right: 0;
  //background-color: white;
  //box-shadow: 0 0 0 2px white; /* This creates the cutout effect */
}

.activityInfo {
  margin-left: 10px;

  //  Row from top to bottom
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: left;
}