.container {
  display: flex;
  justify-content: center;
  align-items: center;
  //position: relative;
  width: 100%;
  margin: 0 auto;
}

/* .corner {
	width: 2em;
	height: 2em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}

.corner a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.github {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.corner img {
	width: 2em;
	object-fit: contain;
}

.githubImg {
	width: 2em;
	object-fit: contain;
} */

.corner {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1;

  padding-left: 4px;
  padding-right: 4px;

  //margin: 30px;

  height: 48px;

  border-radius: 10px;

  margin-top: 16px;

  background: #0000007c;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
}

.corner_left {
  left: 0;
  margin-left: 16px;

  padding-left: 10px;
  padding-right: 10px;
}

.corner_right {
  right: 0;
  margin-right: 16px;
}

.cornerSocialLink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  transition: all 0.25s;

  //padding: 10px;

  margin: 0 8px;
}

.cornerSocialLink:hover {
  transform: scale(1.1);
  //border-radius: 10px;
}

.cornerImg {
  /* width: 2em; */
  object-fit: contain;
}

.navBar {
  //flex-grow: 1;
  //display: flex;
  //justify-content: center;
  //align-items: center;

  height: 48px;

  // padding: 0px 0px;

  //margin: 16px auto 0;

  margin-top: 16px;

  border-radius: 10px;

  background: #0000007c;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);

  overflow: hidden;
}

.navBar ul {
  position: relative;
  padding: 0;
  margin: 0;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  /* background: var(--background); */
  /* background-size: contain; */
  /* border-radius: 1em; */
}

.navBar li {
  position: relative;
  height: 100%;
  margin: 0 0;
}

/* .navBar li.active::before {
	--size: .375rem;
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: calc(50% - var(--size));
	border: var(--size) solid transparent;
	border-top: var(--size) solid var(--accent-color);
} */

.navBar button {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1em;
  color: var(--heading-color);
  font-weight: 700;
  font-size: 16px;
  font-family: "quicksand", sans-serif !important;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1em; */
  text-decoration: none;
  transition: all 0.25s;
  color: #eaeaea;
  background: transparent;
  border: none;
  /* font-family: "quicksand", sans-serif !important; */
}

.navBar button:hover {
  /* color: #eaeaea; */
  /* text-shadow: 0 0 0.25em #6297e7; */
  box-shadow: inset 0 -0.1875rem 0 #6297e7;
  font-size: 18px;
  /* color: #eaeaea; */
}

.navBar button:active {
  font-size: 16px;
}

.webring_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.webring_anchor {
  color: #b7b7b7;
  text-decoration: none;
  transform: scale(1.1);
  margin-top: 4px;
  transition: all 0.25s;
}

.webring_logo {
  background-image: url(https://assets.hackclub.com/icon-rounded.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 4px;
  vertical-align: middle;
  transition: all 0.25s;
}

.webring_anchor:hover {
  color: #eaeaea;
  transform: scale(1.2);
}

.webring_logo:hover {
  transform: scale(1.1);
}

/* .navBar a.active {
	color: var(--accent-color);
	box-shadow: inset 0 -0.1875rem 0 var(--accent-color);
} */

/* Change a color if li is active */
.navBar li.active button {
  /* color: var(--accent-color); */
  /* text-shadow: 0 0 0.25em var(--accent-color); */
  box-shadow: inset 0 -0.1875rem 0 #6297e7;
  /* color: #eaeaea; */
}

@media (max-width: 477px) {
  .cornerImg {
    display: none;
  }
}
