# dependencies
/node_modules

# next.js
/.next/

# production
/build
# /dist

# local env files
# .env*.local
.env.development
# .env.development
# .env*.production
# .env.production

# typescript
*.tsbuildinfo
.vscode

/data