@keyframes shake {
	0% {
		transform: translate(1px, 0);
	}
	25% {
		transform: translate(-1px, 0);
	}
	50% {
		transform: translate(1px, 0);
	}
	75% {
		transform: translate(-1px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

.explorer {
	width: 90%;

	position: absolute;
	top: 30%;

	.pwd {
		margin-left: -10px;
		margin-bottom: 10px;

		.glow {
			color: #ebcb8b;
			font-weight: 600;
			text-shadow: 0 0 3px #ebcb8b;
		}
	}

	.files {
		list-style-type: none;

		.item {
			display: flex;
			align-items: center;
			margin-bottom: 2px;

			width: 100%;

			padding: 2px;
			border-radius: 4px;

			/*background: blue;*/

			transition: 0.2s ease-out;

			p {
				margin-left: 6px;
			}
		}

		.active {
			transform: scale(0.99);
		}

		.error {
			background-color: #bf616a !important;
			animation: shake 0.25s;
			animation-timing-function: ease-in-out;
		}

		.selected {
			background-color: var(--background-2) !important;
			/*color: var(--foreground-dark) !important;*/
		}

		.item:hover {
			background-color: var(--background-1);
			/*color: #2e3440;*/
		}

		.item:active {
			transform: scale(0.99);
		}
	}
}